/* Carta romántica */

.love-letter{
  max-width:300px;
  background:#fffaf0;
  color:#4a2c2a;
  padding:20px;
  border-radius:8px;
  font-family: "Brush Script MT", cursive;
  font-size:22px;
  line-height:1.6;
  box-shadow:0 0 15px rgba(255,255,255,0.3);
  animation:fadeLetter 2s ease;
  margin:20px;
}

@keyframes fadeLetter{
  from{
    opacity:0;
    transform:translateY(40px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* Botón reinicio */

.restart{
  background:#ffccd5;
  color:black;
}

.restart:hover{
  background:#ffc2d1;
}
