*{margin:0;padding:0;box-sizing:border-box}

body{
  font-family: Arial, sans-serif;
  background:black;
  color:white;
  overflow:hidden;
}

.scene{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  opacity:0;
  transition:opacity 1s ease;
}

.scene.active{
  opacity:1;
  z-index:2;
}

h1,h2{
  margin-bottom:20px;
}

.btn{
  padding:12px 25px;
  margin:10px;
  font-size:18px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.yes{background:#ff4d6d;color:white;}
.no{background:#444;color:white;}
.next{background:white;color:black;}

.btn:hover{
  transform:scale(1.1);
}

/* Fondo estrellas */
.stars{
  position:fixed;
  width:100%;
  height:100%;
  background:transparent;
  overflow:hidden;
  z-index:0;
}

.stars::before{
  content:"";
  position:absolute;
  width:200%;
  height:200%;
  background:
    radial-gradient(white 1px, transparent 1px);
  background-size:40px 40px;
  animation:moveStars 60s linear infinite;
  opacity:0.4;
}

@keyframes moveStars{
  from{transform:translate(0,0);}
  to{transform:translate(-50%, -50%);}
}

/* Estrella fugaz */
.shooting-star{
  position:absolute;
  width:4px;
  height:4px;
  background:white;
  border-radius:50%;
  box-shadow:0 0 10px white;
}

/* Impacto corazón */
.impact-heart{
  font-size:60px;
  opacity:0;
  transition:1s;
}

.astronaut{
  position:absolute;
  bottom:10%;
  left:5%;
  opacity:0;
  transition:1s;
}

.astronaut img{
  width:120px;
}

.speech{
  background:white;
  color:black;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  width:200px;
}

/* Corazones flotando */
#floatingHearts div{
  position:absolute;
  font-size:25px;
  animation:float 6s linear infinite;
}

@keyframes float{
  from{transform:translateY(100vh);}
  to{transform:translateY(-10vh);}
}

.center-img{width:220px;margin:20px;}
.final-img{width:250px;margin:20px;}

/* Carta romántica */
.love-letter{
  max-width:300px;
  background:#fffaf0;
  color:#4a2c2a;
  padding:20px;
  border-radius:8px;
  font-family: "Brush Script MT", cursive;
  font-size:22px;
  line-height:1.6;
  box-shadow:0 0 15px rgba(255,255,255,0.3);
  animation:fadeLetter 2s ease;
  margin:20px;
}

@keyframes fadeLetter{
  from{
    opacity:0;
    transform:translateY(40px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* Botón reinicio */
.restart{
  background:#ffccd5;
  color:black;
}

.restart:hover{
  background:#ffc2d1;
}
